@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93.3%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 207 88% 68%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 55 99% 61.2%;
    --accent-foreground: 60 9.1% 9.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --chart-1: 350 100% 50%; /* Neon Red */
    --chart-2: 120 100% 50%; /* Neon Green */
    --chart-3: 240 100% 50%; /* Neon Blue */
    --chart-4: 60 100% 50%; /* Neon Yellow */
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 207 88% 68%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 55 99% 61.2%;
    --accent-foreground: 60 9.1% 9.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 88% 68%;
    
    --chart-1: 350 100% 50%; /* Neon Red */
    --chart-2: 120 100% 50%; /* Neon Green */
    --chart-3: 240 100% 50%; /* Neon Blue */
    --chart-4: 60 100% 50%; /* Neon Yellow */
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }

  .animate-explode {
      animation: explode 0.5s ease-out forwards;
  }

  .animate-pop-up-and-down {
    animation: pop-up-and-down 1.5s ease-in-out forwards;
  }

  @keyframes pop-up-and-down {
      0% {
          transform: translateY(100%) translateX(-50%);
      }
      20%, 80% {
          transform: translateY(0%) translateX(-50%);
      }
      100% {
          transform: translateY(100%) translateX(-50%);
      }
  }

  @keyframes explode {
      0% {
          transform: scale(1);
          opacity: 1;
      }
      100% {
          transform: scale(3);
          opacity: 0;
      }
  }
}
